.contacts {
    @include adaptive-value("padding-top", 92, 80, 1);
    @include adaptive-value("padding-left", 245, 10, 1);
    @include adaptive-value("padding-right", 245, 10, 1);
    @include adaptive-value("padding-bottom", 245, 10, 1);

    overflow: hidden;

    // .contacts__container

    &__container {
    }

    // .contacts__body

    &__body {
        h2 {
            text-align: center;
            @include adaptive-value("margin-bottom", 50, 40, 1);

            i {
                padding-left: 0;
            }
        }
    }

    // .contacts__content

    &__content {
        h3 {
            font-style: normal;
            font-weight: 500;
            @include adaptive-value("font-size", 24, 22, 1);
            line-height: 89.9%;
            margin-bottom: 42px;
            text-transform: uppercase;
            color: #000000;
            @include adaptive-value("margin-bottom", 50, 20, 1);
        }

        span {
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 24, 18, 1);
            line-height: 1.2;
            color: #000000;
            display: block;

            a {
                color: currentColor;
            }
        }
    }

    // .contacts__top

    &__top {
        display: flex;
        justify-content: space-between;
        @include adaptive-value("margin-bottom", 65, 30, 1);

        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & > :not(:last-child) {
                margin-bottom: 30px;
            }
        }

        &-left,
        &-right {
            display: flex;
            flex-direction: column;

            @media (max-width: 800px) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }

        // .contacts__top-left

        &-left {
        }

        // .contacts__top-right

        &-right {
            @media (min-width: 801px) {
                text-align: right;
                align-items: flex-end;
            }
        }
    }

    // .contacts__bottom

    &__bottom {
        h4 {
            font-style: normal;
            font-weight: 500;
            @include adaptive-value("font-size", 40, 22, 1);
            line-height: 89.9%;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
            @include adaptive-value("margin-bottom", 65, 20, 1);
        }

        ol {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-style: normal;
                font-weight: 300;
                @include adaptive-value("font-size", 48, 18, 1);
                line-height: 1.4;
                text-align: center;
                color: #000000;
                position: relative;

                img {
                    transition: all 0.3s ease 0s;
                    position: absolute;

                    z-index: -1;
                    display: none;
                    @include adaptive-value("width", 368, 150, 1);
                    transform: translate(50%, -50%);

                    &._left {
                        transform: translate(-100%, -50%);
                    }
                }
            }
        }
    }

    .contacts-animate {
        opacity: 0;
        transform: translate(0, 50px);
    }
}
