.course {
    padding-top: 72px;
    min-height: 150vh;

    @media (max-width: 1024px) {
        padding-top: 116px;
    }

    // .course__container

    &__container {
        @include adaptive-value("padding-inline", 123, 10, 1);
    }

    // .course__body

    &__body {
    }

    .title-animate {
        @media (max-width: 800px) {
            visibility: hidden;
            pointer-events: none;
            height: 0;
            opacity: 0;
        }
    }

    h1 {
        font-style: normal;
        font-weight: 500;
        line-height: 89.9%;
        color: #000000;
        @include adaptive-value("font-size", 80, 34, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 2;

        @media (max-width: 425px) {
            font-size: 30px !important;
        }

        @media (max-width: 475px) {
            font-size: 26px !important;
        }

        & > :first-child {
            transform: translate(0, -100%);
            opacity: 0;
        }

        & > :nth-child(2) {
            transform: translate(0, -100%);
            opacity: 0;
            padding-left: 4ch;

            @media (max-width: 800px) {
                padding-left: 2ch;
            }

            @media (max-width: 600px) {
                padding-left: 1ch;
            }
        }

        & > :last-child {
            transform: translate(0, 100%);
            opacity: 0;
            padding-left: 2ch;

            @media (max-width: 800px) {
                padding-left: 1ch;
            }

            @media (max-width: 600px) {
                padding-left: 0.5ch;
            }
        }
    }

    // .course__top

    &__top {
        position: relative;
        display: flex;
        align-items: center;

        @media (min-width: 801px) {
            @include adaptive-value("padding-top", 0, 72, 1);
        }

        @media (max-width: 800px) {
            display: block;
        }

        h1 {
            @media (min-width: 801px) {
                flex: 0 0 50%;
                max-width: 50%;
                width: 50%;
            }

            @media (max-width: 800px) {
            }
        }

        img {
            @media (min-width: 801px) {
                flex: 0 0 50%;
                max-width: 50%;
                width: 50%;
                aspect-ratio: 1/0.7;
            }

            @media (max-width: 800px) {
                aspect-ratio: 1/1;
            }

            display: block;
            width: 100%;
            object-fit: cover;

            transform: translate(0, 10%);
            opacity: 0;
        }
    }

    // .course__bottom

    &__bottom {
        @include adaptive-value("padding-inline", 123, 10, 1);
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        // .course__bottom-content

        &-content {
            max-width: 940px;
            margin-inline: auto;

            opacity: 0;
            transform: translate(0, 100%);

            @media (max-width: 800px) {
                max-width: 640px;
            }

            p {
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
                text-align: center;
                color: #000000;
                @include adaptive-value("font-size", 20, 12, 1);
            }
        }
    }
}
