.hull {
    padding-top: 72px;
    padding-bottom: 150px;

    @media (max-width: 1024px) {
        padding-top: 116px;
        padding-bottom: 100px;
    }
    // .hull__container

    &__container {
        @include adaptive-value("padding-inline", 123, 10, 1);
    }

    // .hull__body

    &__body {
    }

    // .hull__flex

    &__flex {
        @include adaptive-value("padding-top", 60, 30, 1);

        @media (min-width: 1025px) {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        // .hull__flex-image

        &-image {
            position: relative;
            flex: 0 0 45%;
            padding-bottom: 45%;
            opacity: 0;
            transform: translate(0, 150px);

            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            @media (max-width: 1024px) {
                padding-bottom: 80%;
            }
        }

        // .hull__flex-content

        &-content {
            width: calc(55% - 80px);

            @media (max-width: 1200px) {
                width: calc(55% - 40px);
            }

            @media (max-width: 1024px) {
                width: 100%;
            }
        }

        // .hull__flex-top

        &-top {
            @include adaptive-value("padding-top", 25, 10, 1);
            @include adaptive-value("margin-bottom", 60, 30, 1);

            @media (max-width: 1024px) {
                display: flex;
                justify-content: space-between;
            }

            @media (max-width: 800px) {
                flex-direction: column;
            }

            h1 {
                font-style: normal;
                font-weight: 500;
                @include adaptive-value("font-size", 80, 40, 1);
                line-height: 89.9%;
                color: #000000;
                @include adaptive-value("margin-bottom", 60, 20, 1);

                opacity: 0;
                transform: translate(0, 100px);
            }

            span {
                margin-bottom: 10px;

                @media (max-width: 800px) {
                    margin-bottom: 5px;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
                color: #000000;
                @include adaptive-value("font-size", 20, 12, 1);

                opacity: 0;
                transform: translate(0, 100px);

                a {
                    color: currentColor;
                }
            }
        }

        // .hull__flex-bottom

        &-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 1024px) {
                align-items: flex-start;
                max-width: 78%;
                width: 100%;
            }

            @media (max-width: 800px) {
                max-width: 100%;
                flex-direction: column;
            }

            p {
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
                color: #000000;
                margin-right: 1em;
                @include adaptive-value("font-size", 24, 12, 1);

                @media (max-width: 1024px) {
                    margin-right: 4em;
                }

                opacity: 0;
                transform: translate(0, 100px);
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 20, 10, 1);
                line-height: 1.2;
                text-align: center;
                color: #000000;
                border-radius: 100%;
                @include adaptive-value("width", 245, 110, 1);
                @include adaptive-value("height", 245, 110, 1);

                opacity: 0;
                transform: translate(0, 100px);

                border: 2px solid #614f3c;
                flex: 0 0 245px;
                flex-grow: 0;
                flex-shrink: 0;
                @include adaptive-value("flex-basis", 245, 110, 1);
                transition: background-color 0.3s ease 0s, backdrop-filter 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        background-color: rgba(97, 79, 60, 0.21);
                        backdrop-filter: blur(33.8961px);
                    }
                }

                @media (max-width: 800px) {
                    margin-top: 10px;
                    align-self: end;
                }
            }
        }
    }
}

.hull-grid {
    @include adaptive-value("margin-bottom", 125, 100, 1);

    // .hull-grid__container

    &__container {
        @include adaptive-value("padding-inline", 123, 10, 1);
    }

    // .hull-grid__body

    &__body {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (min-width: 1025px) {
                column-gap: 20px;
                @include adaptive-value("row-gap", 175, -50, 1);
            }

            @media (max-width: 1024px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 5vw;
            }

            @media (max-width: 640px) {
                grid-template-columns: 1fr;
            }

            li {
                overflow: hidden;
                position: relative;
                border-bottom: 2px solid #000000;
                transform: translateY(50px);
                opacity: 0;
                max-width: 31%;
                padding-bottom: 31px;

                @media (max-width: 1024px) {
                    max-width: none;
                    padding-bottom: 20px;
                    border-width: 1px;
                }

                a {
                }

                h4 {
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.2;
                    text-transform: uppercase;
                    color: #000000;
                    @include adaptive-value("font-size", 35, 12, 1);
                    @include adaptive-value("margin-bottom", 88, 30, 1);

                    @media (max-width: 640px) {
                        margin-bottom: 10px !important;
                    }
                }

                @media (any-hover: hover) {
                    &:hover {
                        .hull-grid__hover {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    // .hull-grid__info

    &__info {
        display: flex;
        justify-content: space-between;
    }

    // .hull-grid__left

    &__left {
        max-width: calc(50% - 20px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media (max-width: 640px) {
        }

        p {
            font-style: normal;
            font-weight: 400;
            line-height: 1.18;
            color: #000000;
            @include adaptive-value("font-size", 16, 10, 1);
            margin-right: 1em;
            margin-bottom: 1em;
            margin-top: 30px;
        }

        img {
            width: 34px;

            @media (max-width: 1024px) {
                width: 17px;
            }

            @media (max-width: 640px) {
                justify-self: flex-end;
            }
        }
    }

    // .hull-grid__image

    &__image {
        width: 50%;

        img {
            display: block;
            max-width: 100%;
        }
    }

    // .hull-grid__hover

    &__hover {
        pointer-events: none;
        padding: 34px 25px;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #392e23;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transform: translateY(100%);
        opacity: 0;
        transition: all 0.5s ease 0s;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            justify-self: flex-start;
            margin-bottom: auto;

            span {
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 1.2;
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #ffffff;
            }
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.2;
            color: #ffffff;
            background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 79.46%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        a {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.2;
            color: #ffffff;
            align-self: center;
            width: 100%;
            text-align: center;
        }
    }
}

.hull-map {
    min-height: unset;
    position: relative;
    @include adaptive-value("padding-bottom", 59, 52, 1);

    // .hull-map__container

    &__container {
        @include adaptive-value("padding-inline", 123, 10, 1);
    }

    // .hull-map__body

    &__body {
    }

    h3 {
        text-transform: uppercase;

        font-style: normal;
        font-weight: 500;
        line-height: 89.9%;
        color: #000000;
        @include adaptive-value("font-size", 80, 42, 1);
        @include adaptive-value("margin-bottom", 40, 20, 1);

        opacity: 0;
        transform: translate(0, 100%);
    }

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        line-height: 89.9%;
        color: #000000;
        @include adaptive-value("font-size", 368, 64, 1);
        z-index: 1;

        opacity: 0;
    }

    // .hull-map__map

    &__map {
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        iframe {
            flex: 1 1 90%;
            display: block;
            width: 100%;
            max-height: 70%;
            opacity: 0;
            transform: translate(0, 200px);
        }
    }
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(97, 79, 60, 0.67);
    overflow-y: auto;

    z-index: 55;

    pointer-events: none;
    opacity: 0;
    &._open {
        pointer-events: all;
    }

    &::-webkit-scrollbar {
        display: none;
    }

    // .popup-body

    &-body {
    }

    // .popup-close

    &-close {
        display: block;
        position: absolute;
        cursor: pointer;

        @media (min-width: 641px) {
            @include adaptive-value("right", 30, 10, 1);
            @include adaptive-value("top", 30, 10, 1);
        }

        @media (max-width: 640px) {
            display: flex;
            align-items: center;
            justify-content: center;

            right: 0;
            top: 0;
            width: 30px;
            height: 30px;
            background-color: #f2efe6;
            border-radius: 0 0 0 5px;
            z-index: 5;
        }

        img {
            pointer-events: none;
            display: block;
            @include adaptive-value("width", 27, 20, 1);
        }
    }

    // .popup-content

    &-content {
        position: relative;

        @media (min-width: 641px) {
            display: flex;
            justify-content: space-between;
        }

        background: #f2efe6;

        @include adaptive-value("margin-top", 70, 30, 1);
        @include adaptive-value("margin-bottom", 70, 30, 1);
        @include adaptive-value("padding-bottom", 60, 30, 1);
        @include adaptive-value("margin-inline", 123, 10, 1);

        @media (min-width: 641px) {
            @include adaptive-value("padding-inline", 123, 10, 1);
        }
    }

    // .popup-slider

    &-slider {
        opacity: 0;
        max-width: 40.5%;

        @media (max-width: 640px) {
            max-width: 100%;
        }
    }

    // .popup-info

    &-info {
        display: flex;
        flex-direction: column;
        @include adaptive-value("padding-top", 116, 20, 1);

        @media (min-width: 641px) {
            @include adaptive-value("padding-left", 40, 20, 1);
        }

        @media (max-width: 640px) {
            @include adaptive-value("padding-inline", 123, 10, 1);
        }
    }

    h4 {
        margin-bottom: 37px;
        font-weight: 400;
        line-height: 1.2;
        text-transform: uppercase;
        color: #000000;
        opacity: 0;
        @include adaptive-value("font-size", 40, 16, 1);
    }

    p {
        flex: 1 1 auto;
        max-width: 813px;
        width: 100%;
        font-weight: 400;
        line-height: 1.2;
        color: #000000;
        opacity: 0;
        @include adaptive-value("font-size", 20, 12, 1);
        @include adaptive-value("margin-bottom", 20, 40, 1);
    }

    .swiper {
        max-width: 100%;

        // .swiper-wrapper

        &-wrapper {
        }

        // .swiper-slide

        &-slide {
            img {
                object-fit: cover;
                display: block;
                width: 100%;
                aspect-ratio: 10/13;

                @media (max-width: 640px) {
                    aspect-ratio: 10/9;
                }
            }
        }

        // .swiper-pagination

        &-pagination {
            background-color: rgba($color: #614f3c, $alpha: 0.2);
            margin-top: 10px;

            span {
                transform-origin: left;
                display: block;
                height: 2px;
                background-color: #614f3c;
            }
        }

        // .swiper-navigation

        &-navigation {
            display: flex;
            justify-content: center;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                border: 2px solid #614f3c;
                backdrop-filter: blur(18px);
                opacity: 0;

                @include adaptive-value("width", 150, 40, 1);
                @include adaptive-value("height", 150, 40, 1);

                @media (max-width: 1024px) {
                    border-width: 1px;
                }

                img {
                    pointer-events: none;
                    display: block;
                    width: 45%;
                }
            }
        }

        // .swiper-prev

        &-prev {
            @include adaptive-value("margin-right", 82, 30, 1);

            img {
                transform: rotate(180deg);
            }
        }

        // .swiper-next

        &-next {
        }
    }
}

.popup__detsad {



    .popup-content {
        display: block;

        @include adaptive-value("padding-top", 116, 40, 1);
        @include adaptive-value("padding-inline", 123, 20, 1);
    }

    .popup-close {
        @media (max-width: 640px) {
            background-color: #fff;
        }
    }

    h4 {
        text-align: center;
        max-width: 770px;
        margin-inline: auto;
    }

    ul {
        @media (min-width: 801px) {
            display: flex;
        }

        & > :not(:last-child) {
            @media (min-width: 801px) {
                @include adaptive-value("margin-right", 40, 20, 1);
            }

            @media (max-width: 800px) {
                @include adaptive-value("margin-bottom", 40, 20, 1);
            }
        }

        li {
            flex: 1 1 auto;

            a {
                position: relative;
                display: block;
                padding-bottom: 100%;

                @media (max-width: 800px) {
                    padding-bottom: 60%;
                }

                @media (any-hover: hover) {
                    &:hover {
                        &:before {
                            backdrop-filter: blur(0px);
                        }
                    }
                }

                &:before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.25);
                    backdrop-filter: blur(1px);
                    pointer-events: none;
                    z-index: 1;

                    @media (any-hover: none) {
                        backdrop-filter: blur(0px);
                    }
                }

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 0;
                    pointer-events: none;
                }

                label {
                    position: absolute;
                    left: 20px;
                    bottom: 20px;
                    z-index: 1;

                    color: #fff;
                    font-style: normal;
                    font-weight: 600;
                    @include adaptive-value("font-size", 30, 16, 1);
                    line-height: 89.9%;

                    @media (max-width: 800px) {
                        left: 10px;
                        bottom: 10px;
                    }

                    span {
                        display: block;
                        @include adaptive-value("font-size", 20, 12, 1);
                        margin-top: 0.5em;
                    }
                }
            }
        }
    }

    h4 {
        opacity: 1;
    }

    * {
        opacity: 1 !important;
    }
}
