.hull {
    padding-top: 72px;
    overflow: hidden;

    @media (max-width: 1024px) {
        padding-top: 116px;
    }

    // .hull__bg

    &__bg {
        @media (max-width: 800px) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: flex-end;
        }

        img {
            position: absolute;
            display: block;
            pointer-events: none;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            max-height: 71vh;
            max-width: 44vw;

            @media (max-width: 1024px) {
                margin-top: 35px;
                position: static;
                left: unset;
                transform: translate(0, 0);
                opacity: 1;
            }

            @media (max-width: 800px) {
                max-width: none;
                width: 59vw;
                margin-right: 30px;
            }
        }

        // .hull__bg-hover

        &-hover {
            @include adaptive-value("font-size", 368, 75, 1);
            width: 70%;
            height: 1em;
            position: relative;
            z-index: 3;

            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    h1 {
        height: auto;
        display: block;
        position: absolute;
        left: 50%;
        top: 48%;
        transform: translate(-50%, -50%);
        font-style: normal;
        font-weight: 500;
        line-height: 89.9%;
        color: #000000;
        white-space: nowrap;
        @include adaptive-value("font-size", 368, 75, 1);
        display: flex;
        align-items: center;

        @media (max-width: 1024px) {
            top: 45%;
        }

        @media (max-width: 800px) {
            transform: translate(0, 0) rotate(180deg);
            position: static;
            writing-mode: vertical-rl;
            font-size: 75px !important;
        }
    }

    // .hull__container

    &__container {
        @include adaptive-value("padding-inline", 123, 10, 1);
    }

    // .hull__body

    &__body {
        @media (min-width: 801px) and (max-width: 1024px) {
            padding-bottom: 100px;
        }
    }

    // .hull__content

    &__content {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 80px;
        padding-top: 140px;

        @include adaptive-value("padding-left", 123, 10, 1);

        @media (max-width: 1024px) {
            left: unset;
            right: 0;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            width: fit-content;
            @include adaptive-value("padding-right", 123, 10, 1);
            max-width: 50vw;
        }

        @media (max-width: 800px) {
            padding-top: 10px;
            max-width: none;
            position: static;
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-bottom: 170px;
        }

        // .hull__content-top

        &-top {
            @media (min-width: 1025px) {
                align-self: flex-end;
                padding-right: 10vw;
            }

            span,
            a {
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
                color: #000000;
                display: block;
                @include adaptive-value("font-size", 14, 10, 1);
            }

            a {
                margin-top: 3px;
            }
        }

        // .hull__content-flex

        &-flex {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @media (max-width: 1024px) {
                margin-top: 20px;
                flex-direction: column;
                align-items: center;
            }

            @media (max-width: 800px) {
                margin-top: 32px;
                flex-direction: row;
            }

            p {
                max-width: 30.5vw;
                font-style: normal;
                font-weight: 400;
                line-height: 1.2;
                text-align: right;
                color: #000000;
                @include adaptive-value("font-size", 20, 12, 1);

                @media (max-width: 1024px) {
                    text-align: left;
                    max-width: none;
                }

                @media (max-width: 800px) {
                    margin-right: 10px;
                }
            }

            a {
                @include adaptive-value("width", 245, 110, 1);
                @include adaptive-value("height", 245, 110, 1);

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                border-radius: 50%;
                border: 3px solid #614f3c;
                backdrop-filter: blur(18.4545px);

                font-style: normal;
                font-weight: 400;

                line-height: 1.25;
                text-align: center;
                color: #000000;

                @media (max-width: 1024) {
                    align-self: center;
                    border-width: 2px;
                }

                @media (max-width: 800px) {
                    border-width: 1px;
                }

                span {
                    font-size: 20px;

                    @media (max-width: 1024px) {
                        font-size: 15px;
                    }

                    @media (max-width: 800px) {
                        font-size: 9px;
                    }
                }

                label {
                    font-size: 10px;

                    @media (max-width: 1024px) {
                        font-size: 7px;
                    }

                    @media (max-width: 800px) {
                        font-size: 5px;
                    }
                }
            }
        }

        // .hull__content-right

        &-right {
            padding-right: 12vw;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 1024px) {
                margin-top: 56px;
                display: block;
                padding-right: 0;
            }

            @media (max-width: 800px) {
                margin-top: 0;
            }
        }
    }
}

.hull-grid {
    @include adaptive-value("margin-bottom", 125, 100, 1);

    // .hull-grid__container

    &__container {
        @include adaptive-value("padding-inline", 123, 10, 1);
    }

    // .hull-grid__body

    &__body {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media (min-width: 1025px) {
                column-gap: 20px;
                @include adaptive-value("row-gap", 175, -50, 1);
            }

            @media (max-width: 1024px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 5vw;
            }

            @media (max-width: 640px) {
                grid-template-columns: 1fr;
            }

            li {
                overflow: hidden;
                position: relative;
                border-bottom: 2px solid #000000;
                transform: translateY(50px);
                opacity: 0;
                max-width: 31%;
                padding-bottom: 31px;

                @media (max-width: 1024px) {
                    max-width: none;
                    padding-bottom: 20px;
                    border-width: 1px;
                }

                a {
                }

                h4 {
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.2;
                    text-transform: uppercase;
                    color: #000000;
                    @include adaptive-value("font-size", 35, 12, 1);
                    @include adaptive-value("margin-bottom", 88, 30, 1);

                    @media (max-width: 640px) {
                        margin-bottom: 10px !important;
                    }
                }

                @media (any-hover: hover) {
                    &:hover {
                        .hull-grid__hover {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    // .hull-grid__info

    &__info {
        display: flex;
        justify-content: space-between;
    }

    // .hull-grid__left

    &__left {
        max-width: calc(50% - 20px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media (max-width: 640px) {
        }

        p {
            font-style: normal;
            font-weight: 400;
            line-height: 1.18;
            color: #000000;
            @include adaptive-value("font-size", 16, 10, 1);
            margin-right: 1em;
            margin-bottom: 1em;
            margin-top: 30px;
        }

        img {
            width: 34px;

            @media (max-width: 1024px) {
                width: 17px;
            }

            @media (max-width: 640px) {
                justify-self: flex-end;
            }
        }
    }

    // .hull-grid__image

    &__image {
        width: 50%;

        img {
            display: block;
            max-width: 100%;
        }
    }

    // .hull-grid__hover

    &__hover {
        pointer-events: none;
        padding: 34px 25px;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #392e23;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transform: translateY(100%);
        opacity: 0;
        transition: all 0.5s ease 0s;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            justify-self: flex-start;
            margin-bottom: auto;

            span {
                font-style: normal;
                font-weight: 400;
                font-size: 35px;
                line-height: 1.2;
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #ffffff;
            }
        }

        p {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.2;
            color: #ffffff;
            background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 79.46%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

        a {
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.2;
            color: #ffffff;
            align-self: center;
            width: 100%;
            text-align: center;
        }
    }
}

.hall-map {
    min-height: unset;
    position: relative;
    @include adaptive-value("padding-bottom", 59, 52, 1);

    // .hall-map__container

    &__container {
        @include adaptive-value("padding-inline", 123, 10, 1);
    }

    // .hall-map__body

    &__body {
    }

    h3 {
        text-transform: uppercase;

        font-style: normal;
        font-weight: 500;
        line-height: 89.9%;
        color: #000000;
        @include adaptive-value("font-size", 80, 42, 1);
        @include adaptive-value("margin-bottom", 40, 34, 1);
    }

    span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        text-transform: uppercase;
        font-style: normal;
        font-weight: 500;
        line-height: 89.9%;
        color: #000000;
        @include adaptive-value("font-size", 368, 64, 1);
        z-index: 1;
    }

    // .hall-map__map

    &__map {
        height: 100dvh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        iframe {
            flex: 1 1 90%;
            display: block;
            width: 100%;
            max-height: 80%;
        }
    }
}
