.section {
    // .section__container

    &__container {
        @include adaptive-value("padding-inline", 82, 10, 1);
    }

    // .section__body

    &__body {
    }

    // .section__scroll

    &__scroll {
        position: sticky;

        // .section__scroll-wrapper

        &-wrapper {
            inset: 0px;
        }

        // .section__scroll-slide

        &-slide {
            min-height: 100vh;
            height: 100%;
            max-height: 100vh;

            &._show {
                .hidden {
                    transform: translate(0, 0);
                    opacity: 1;
                    pointer-events: all;
                }
            }

            &._hide {
                .hidden {
                    transform: translate(0, -50px);
                    opacity: 0;
                }
            }
        }

        // .section__scroll-item

        &-item {
            z-index: 2;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            inset: 0px;
            width: 100%;
            height: 100vh;

            .hidden {
                position: fixed;
                top: 50%;
                overflow: hidden;
                @include adaptive-value("padding-inline", 82, 10, 1);
                pointer-events: none;

                &._show {
                    pointer-events: all;
                }

                &:not(.height-animate) {
                    transition: all 0.7s ease 0s;
                    transform: translate(0, 50px);
                    opacity: 0;

                    &._show {
                        transform: translate(0, 0);
                        opacity: 1;
                    }

                    &._hide {
                        transform: translate(0, -50px);
                        opacity: 0;
                    }
                }

                &.height-animate {
                    transition: all 0.7s ease 0s;

                    h4 {
                        height: 3.75ch;
                    }

                    span {
                        &:last-of-type i {
                            transition-delay: 0.3s;
                        }
                    }

                    i {
                        transition: all 0.5s ease 0s;
                        height: 0;
                        overflow: hidden;
                    }

                    &._show {
                        i {
                            height: 1.25em;
                        }
                    }

                    &._hide {
                        transform: translate(0, -50px);
                        opacity: 0;
                        i {
                            height: 1.25em;
                        }
                    }
                }
            }

            p {
                font-weight: 400;
                line-height: 137.9%;
                text-align: center;
                color: #000000;
                text-align: center;
                @include adaptive-value("font-size", 40, 20, 1);

                @media (max-width: 360px) {
                    font-size: 18px;
                }
            }

            h3 {
                font-weight: 400;
                line-height: 137.9%;
                text-align: center;
                color: #000000;
                text-align: center;
                @include adaptive-value("font-size", 100, 30, 1);

                @media (max-width: 360px) {
                    font-size: 26px;
                }
            }

            h4 {
                font-weight: 400;
                line-height: 137.9%;
                color: #000000;
                @include adaptive-value("font-size", 55, 24, 1);

                @media (max-width: 360px) {
                    font-size: 20px;
                }

                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                & > :last-child {
                    i {
                        padding-left: 10.6ch;
                    }
                }

                span {
                    display: block;
                    overflow: hidden;
                }

                i {
                    font-style: normal;
                    display: block;
                    transform-origin: bottom;
                }
            }
        }

        // .section__scroll-second

        &-second {
            h4 {
                & > :nth-child(2) {
                    i {
                        padding-left: 5ch;
                    }
                }
                & > :last-child {
                    i {
                        padding-left: 2ch;
                    }
                }
            }
        }

        // .section__scroll-third

        &-third {
        }
    }

    // .section__subjects

    &__subjects {
        &._show {
            .section__subjects-images {
                opacity: 1;
                visibility: visible;
            }

            .section__subjects-image {
                animation-play-state: running;

                img {
                    transform: translate(0, 0);
                }
            }

            .section__subjects-before {
                position: sticky;
                opacity: 1;
                visibility: visible;
            }
        }

        &._hide {
            .section__subjects-image-left img {
                transform: translate(0, -100px);
            }

            .section__subjects-image-right img {
                transform: translate(0, 100px);
            }
        }

        // .section__subjects-images

        &-images {
            position: fixed;
            top: 72px;
            left: 0;
            padding-inline: 7.25vw;

            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: space-between;

            opacity: 0;
            visibility: hidden;
            transition: all 1s ease-in-out 0s;

            @media (max-width: 1200px) {
                padding-inline: 5vw;
            }

            @media (max-width: 800px) {
                padding-inline: 4vw;

                .section__subjects-image {
                    width: calc(50% - 40px);
                }
            }

            @media (max-width: 600px) {
                .section__subjects-image {
                    width: calc(50% - 20px);
                }
            }
        }

        // .section__subjects-image

        &-image {
            width: 328px;

            img {
                display: block;
                width: 100%;
                transition: all 1s ease-in-out 0s;
            }

            // .section__subjects-image-left

            &-left {
                animation: parallax 10s 1s linear infinite alternate;
                animation-play-state: paused;
                transform: translate(0, 50px);

                img {
                    transform: translate(0, 100px);
                }
            }

            // .section__subjects-image-right

            &-right {
                animation: parallax 10s 1s linear infinite alternate-reverse;
                animation-play-state: paused;
                transform: translate(0, -50px);

                img {
                    transform: translate(0, -100px);
                }
            }

            @keyframes parallax {
                0% {
                    transform: translate(0, 50px);
                }
                50% {
                    transform: translate(0, 0);
                }

                100% {
                    transform: translate(0, -50px);
                }
            }
        }

        // .section__subjects-body

        &-body {
            position: relative;
        }

        // .section__subjects-before

        &-before {
            top: 0;
            width: 100vw;
            height: 100vh;
            @include adaptive-value("margin-left", -82, -10, 1);
            z-index: 1;
            pointer-events: none;

            opacity: 0;
            visibility: hidden;
            transition: all 1s ease-in-out 0s;

            &:before,
            &:after {
                position: fixed;
                content: "";
                top: 0;
                top: 0;
                width: 100%;
                height: 100%;
                margin: 0;
                display: block;
            }

            &:before {
                background: linear-gradient(0deg, rgba(242, 239, 230, 0) 63.24%, #f2efe6 89.79%);
            }

            &:after {
                background: linear-gradient(180deg, rgba(242, 239, 230, 0) 63.24%, #f2efe6 89.79%);
            }
        }

        // .section__subjects-items

        &-items {
            & > :not(:last-child) {
                margin-bottom: 67px;
            }
        }

        // .section__subjects-item

        &-item {
            text-align: center;
            font-weight: 400;
            line-height: 100.4%;
            color: #000000;
            @include adaptive-value("font-size", 32, 18, 1);

            a {
                color: currentColor;
            }
        }
    }
}

.height {
    height: 100vh;

    @media (max-width: 800px) {
    }
}

.height50 {
    height: 50vh;
}

.hidden {
    isolation: isolate;
}

.section__scroll-slide {
    transform: unset !important;
}
